@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --font: "Inter", sans-serif;
  --primary-100: #F26CF9;
  --primary-90: #F589FA;
  --primary-50: #FCD3FE;
  --primary-40: #FCE2FE;
  --primary-30: #FDEDFE;
  --secondary-110: #1C2346;
  --secondary-100: #37437D;
  --secondary-90: #5562A2;
  --secondary-70: #707DBF;
  --secondary-60: #ABB4DD;
  --secondary-50: #D3DAF9;
  --yellow-100: #FFCA39;
  --yellow-90: #FFEFC3;
  --grey-10: #FFFFFF;
  --grey-20: #F7F7F7;
  --grey-30: #EDEDED;
  --grey-40: #E0E0E1;
  --grey-50: #C3C3C4;
  --grey-60: #9F9FA1;
  --grey-70: #777779;
  --grey-80: #636365;
  --grey-90: #434345;
  --grey-100: #1E1E20;
  --cool-grey-10: #EEEFFF;
  --cool-grey-20: #E4E5F5;
  --cool-grey-30: #DDDEED;
  --cool-grey-40: #D1D2E0;
  --cool-grey-50: #B0B1BD;
  --cool-grey-60: #8F8F99;
  --cool-grey-70: #72737A;
  --cool-grey-80: #56565C;
  --cool-grey-90: #39393D;
  --cool-grey-100: #131314;
  --headline-color: var(--secondary-100);
  --text-color: var(--grey-100);
  --text-muted-color: var(--grey-60);
  --background-color: var(--grey-10);
  --nav-background-color: var(--cool-grey-20);
  --header-background-color: var(--grey-20);
  --main-background-color: var(--grey-20);
  --footer-background-color: var(--grey-20);
  --section-background-color: var(--grey-20);
  --border-color: var(--grey-40);
  --separator-border-color: var(--grey-40);
  --separator-text-color: var(--grey-60);
  --separator-background-color: var(--grey-10);
  --link-color: var(--primary-100);
  --link-hover-color: var(--primary-90);
  --card-background-color: var(--grey-10);
  --card-border-color: var(--grey-20);
  --button-text-color: var(--grey-90);
  --button-border-color: transparent;
  --button-background-color: transparent;
  --button-hover-text-color: var(--grey-90);
  --button-hover-border-color: transparent;
  --button-hover-background-color: transparent;
  --button-link-text-color: var(--primary-100);
  --button-link-border-color: transparent;
  --button-link-background-color: transparent;
  --button-link-hover-text-color: var(--primary-100);
  --button-link-hover-border-color: transparent;
  --button-link-hover-background-color: transparent;
  --button-primary-text-color: var(--grey-10);
  --button-primary-border-color: var(--primary-100);
  --button-primary-background-color: var(--primary-100);
  --button-primary-hover-text-color: var(--grey-10);
  --button-primary-hover-border-color: var(--primary-90);
  --button-primary-hover-background-color: var(--primary-90);
  --button-secondary-text-color: var(--secondary-100);
  --button-secondary-border-color: var(--cool-grey-10);
  --button-secondary-background-color: var(--cool-grey-10);
  --button-outline-text-color: var(--grey-90);
  --button-outline-border-color: var(--grey-30);
  --button-outline-background-color: transparent;
  --input-background-color: var(--grey-10);
  --input-border-color: var(--grey-40);
  --input-border-focus-color: var(--primary-50);
  --input-text-color: var(--grey-100);
  --input-placeholder-color: var(--grey-50);
  --checkbox-background-color: var(--grey-10);
  --checkbox-border-color: var(--grey-40);
  --checkbox-checked-background-color: var(--primary-100);
  --checkbox-checked-border-color: var(--primary-100);
  --checkbox-checked-text-color: var(--grey-10);
}

html, body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font);
  color: var(--text-color);
  background-color: var(--background-color);
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.portal-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "nav"
  "main"
  "footer";
  height: 100dvh;


  @media (width >= 768px) {
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "nav header"
    "nav main"
    "nav footer";
  }

  @media (width >= 1400px) {
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "nav header"
    "nav main"
    "nav footer";
  }
}

nav {
  grid-area: nav;
  background-color: var(--nav-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

nav a {
  color: var(--link-color);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  &.active {
    color: var(--link-hover-color);
    font-weight: 600;
  }
  &:hover {
    color: var(--link-hover-color);
  }
}

header {
  grid-area: header;
  background-color: var(--header-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

main {
  grid-area: main;
  background-color: var(--main-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

footer {
  grid-area: footer;
  background-color: var(--footer-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

.footer-text-links {
  color: var(--text-muted-color);
  font-size: 0.875rem;
  text-align: left;
}

.events {
  background-color: black;
  color: white;
}